.bg-grid-mask-light {
  mask-image: radial-gradient(circle at center, black 40%, transparent 80%);
  -webkit-mask-image: radial-gradient(
    circle at center,
    black 40%,
    transparent 80%
  );
}

/* card */
.card-hover-effect:hover .card-overlay {
  opacity: 1;
}

.card-hover-effect:hover .card-image {
  transform: scale(1.05);
}

.collage-clip {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.text-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.marquee-container:hover .animate-scroll {
  animation-play-state: paused;
}

.bg-grid-mask-light {
  mask-image: radial-gradient(circle at center, black 40%, transparent 80%);
  -webkit-mask-image: radial-gradient(
    circle at center,
    black 40%,
    transparent 80%
  );
}
